@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'junction';
    font-style: regular;
    font-weight: 400;
    src: url('/fonts/Junction-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'junction';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/Junction-Bold.woff2') format('woff2');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 230, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: radial-gradient(circle farthest-side at top right, rgb(var(--background-start-rgb)) 0%, rgb(var(--background-end-rgb)) 100%);
}
.switch-input:checked {
    background-color: #3d5354;
}

.switch-input:checked ~ span:last-child {
    --tw-translate-x: 1.75rem; /* translate-x-7 */
}
.modalbox {
    width: 90%;
}
header {
    min-height: 10vh;
}
main {
    min-height: 80vh;
}
footer {
    min-height: 10vh;
}

@media (min-width: 640px) {
    .modalbox {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .modalbox {
        width: 50%;
    }
}
@layer utilities {
    .text-balance {
    text-wrap: balance;
    }
}
